<!doctype html>
<html lang="en">
<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

   <title>VPD Scripts</title>
</head>

<div class="container">

   <div class="card">
      <div class="card-header">
         Manage database. State = <b>{{ session['state'] }}</b>
      </div>

      <div class="card-body p-1">
         <div class="card-deck  m-0">
            <div class="card m-1"><p>
               <div class="card-body p-2">
                  <form action="/" method="POST" enctype="multipart/form-data" id="upload-form">
                     <div class="form-group">
                        <div class="custom-file">
                           <input name="csvinput" type="file" class="custom-file-input" id="input-file" required
                                  {#onchange="UploadFile();"#}
                           >
                           <label class="custom-file-label" for="input-file">{{ session['input_file'] }}</label>
                        </div>
                     </div>
                     {#                        <button name="uploading" type="submit" class="btn btn-primary">Залить</button>#}
                  </form>
                  <div id="status">{{ status }}</div>
               </div>
            </div>

            <div class="card m-1">
               <div class="card-body p-2">

                  <form action="/" method="POST" enctype="multipart/form-data" >
                     <div class="form-group form-row">
                        <div class="col">
                           <label for="formPlaces"><small>Изделий на листе</small></label>
                           <input class="form-control" id="formPlaces" type="text" name='places'
                                  placeholder="0" value="{{ places }}">
                        </div>
                        <div class="col">
                           <label for="formPile"><small>Листов в привертке</small></label>
                           <input class="form-control" id="formPile" type="text" name='pile'
                                  placeholder="0" value="{{ pile_size }}">
                        </div>
                     </div>
                     <button name="calculation" type="submit" class="btn btn-primary">Перестроить</button>
                     <button name="download" type="submit" class="btn btn-primary">Скачать</button>

                  {#<form action="perekladka" method="GET">
                     <button name="perekladka" type="submit" class="btn btn-primary">Перекладка</button>
                  </form>                     #}

                  </form>
               </div>
            </div>

            <div class="card m-1">
               <div class="card-body p-2">

                  <div class="row">
                     <div class="col-4">
                        <form action="perekladka" method="POST">
                           <button name="perekladka" type="submit" class="btn btn-primary">Перекладка</button>
                        </form>
                     </div>
                     <div class="col-4">
                        <form action="markirovka" method="POST">
                           {#                   <div class="form-group">
                              <input class="form-control" type="text" name='privertka' placeholder="Кол-во изделий в упаковке" data-validation="number" >
                              <small class="form-text text-muted">Кол-во изделий в упаковке</small>
                           </div>#}
                           <button name="markirovka" type="submit" class="btn btn-primary">Маркировка</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>

         </div>
      </div>
   </div>



   <p>
   <div class="card">
      <div class="card-header">
         input -- output -- tech
      </div>
      <div class="card-body">
         <div class="row">
            <div class="col-sm-4">
               <textarea id='input-area' rows="14" class="form-control" wrap="off" readonly>{{ preview_input }}</textarea>
            </div>
            <div class="col-sm-4">
               <textarea rows="14" class="form-control" wrap="off" readonly>{{ preview_output }}</textarea>
            </div>
            <div class="col-sm-4">
               <table class="table table-sm table-condensed table-hover">
                 <tbody>
                   <tr><th scope="row">Заказ</th><td>{% if session['order'] is not none %}{{ session['order'] }}{% else %}{%endif %}</td></tr>
                   <tr><th scope="row">Тираж</th><td>{{ tiraz }}</td></tr>
                   <tr><th scope="row">На листе изделий</th><td>{{ places }}</td></tr>
                   <tr><th scope="row">В привертке листов</th><td>{{ pile_size }}</td></tr>
                   <tr><th scope="row">Полей персонализации</th><td>{{ perso_mest }}</td></tr>
                   <tr><th scope="row">Изделий в целой привертке</th><td>{{ izdeliy_v_privertke }}</td></tr>
                   <tr><th scope="row">Кол-во целых приверток</th><td>{{ full_pile_amount }}</td></tr>
                   <tr><th scope="row">Хвост, изделий</th><td>{{ hvost_izdeliy }}</td></tr>
                   <tr><th scope="row">Хвост, листов</th><td>{{ hvost_listov }}</td></tr>
                   <tr><th scope="row">Пустышек</th><td>{{ dummy }}</td></tr>
                   <tr><th scope="row">Input Encoding</th><td>{{ session['input_encoding'] }}</td></tr>
                   <tr><th scope="row">Output Encoding</th><td>{{ session['output_encoding'] }}</td></tr>
                 </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>

   <p>
   <div class="card">
      <div class="card-body">
         <!-- Button trigger modal -->
         <div class="d-inline">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Help
            </button>
         </div>
         <div class="d-inline float-right">(c) Alexey Dzuba 2019</div>

      </div>
   </div>

</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Справка</h5>
      </div>
      <div class="modal-body">
         <ul>
           <li>Название файла должно начинаться с номера заказа (19-1234_pers.csv)</li>
           <li>Нажми кнопку "Browse", залей исходный файл</li>
           <li>Введи кол-во изделий на листе и кол-во листов в привертке</li>
           <li>Нажми кнопку "Перестроить"</li>
           <li>Проверь, что получилось (база отображается в режиме превью 100 строк)</li>
           <li>Нажми кнопку "Скачать", чтобы скачать результат</li>
           <li>В новой базе будет поле LIST с данными типа "ЛИСТ 8 ПРИВЕРТКА 3"</li>
           <li>Нажми кнопку "Перекладка", чтобы скачать базу для перекладочных листов</li>
           <li>Нажми кнопку "Маркировка", чтобы скачать PDF с готовой маркировкой</li>
         </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{#<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>#}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>


<script>

  $('#input-file').change (function(){
      $("#status").text("starting upload...");
      $('#upload-form').submit();
  });


   bootstrapValidate(
      ['#formPlaces', '#formPile'],
      'integer|required:Введите число!'
   );

</script>

</body>
</html>