<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>VPD Scripts</title>
</head>

<body>


<div class="container">

    <h1>MAXPRINT VDP SCRIPT</h1>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Upload
                </div>
                <div class="card-body">
                    <form action="/" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
        {#              <label for="exampleFormControlFile1">Example file input</label>#}
                            <input name="csvinput" type="file" class="form-control-file">
                        </div>
                        <button name="uploading" type="submit" class="btn btn-primary">Залить</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">
                    Convert
                </div>
                <div class="card-body">
                    <form action="/" method="POST" enctype="multipart/form-data">
                        <div class="form-group form-row">
                            <div class="col">
                                <input type="text" name='places' class="form-control" placeholder="Изделий на листе" value="{{ places }}">
                                <small class="form-text text-muted">Изделий на листе</small>
                            </div>
                            <div class="col">
                                <input type="text" name='pile' class="form-control" placeholder="Листов в привертке" value="{{ pile_size }}">
                                <small class="form-text text-muted">Листов в привертке</small>
                            </div>
                        </div>
                        <button name="calculation" type="submit" class="btn btn-primary">Rebuild</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="exampleFormControlTextarea1">Input data</label>
            <textarea rows="14" class="form-control" id="exampleFormControlTextarea1">{{ csv_input_text }}</textarea>
        </div>
        <div class="col">
            <label for="exampleFormControlTextarea1">Output data</label>
            <textarea rows="14" class="form-control" id="exampleFormControlTextarea2">{{ csv_ouput_text }}</textarea>
        </div>
    </div>

    <p>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Result
                </div>
                <div class="card-body">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="9">{{ tech_text }}</textarea>
                    <form action="download" method="GET">
                        <button type="submit" class="btn btn-primary">Download</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>